<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/admin/styles.css">
</head>

<body>
    <header>TAS OC 2019 Games and Gift Sign-Up</header>
    <section class="table">
        <form action="/AdminLogin" method="POST">
            <div class="login">
                <p>Admin Login</p>
            </div>
            <table class="text-fields">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="username" required></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" style="margin-left: auto" name="password" required>
                    </td>
                </tr>
            </table>
            <div class = "login">
            <button type="submit">Login</button>
            </div>
        </form>
    </section>
</body>

</html>